---
layout: "base.hbs"
title: "Страница не найдена"
permalink: "404.html"
---

    <div class="content-wrapper oh">

			<!-- 404 -->
			<section class="section-wrap error404 bg-overlay bg-overlay--white" style="background-image: url(img/page_title/404.jpg)">
				<div class="container">					
					<div class="row justify-content-center">
						<div class="col-lg-3 text-center">
							<span class="error404__number">404</span>
						</div>		
						<div class="col-lg-7 text-md-center">			
							<h1 class="error404__title">Извините, такой страницы на сайте нет</h1>
							<p class="error404__text lead mb-24">
								Воспользуйтесь меню навигации для поиска нужной страницы.
							</p>
							<a href="/" class="btn btn--lg btn--color">
								<span>Перейти на главную</span>
							</a>			
						</div>			
					</div>
				</div>
			</section> <!-- end 404 -->