---
layout: "base.hbs"
title: "Абонентское бухгалтерское обслуживание | ООО Престиж, г. Ялта"
description: "Услуга абонентского бухгалтерского обслуживания в Ялте"
---

    <div class="content-wrapper oh">

      <!-- Page Title -->
      <section class="section-wrap blog-page-title single-post__entry-header bg-dark" style="background-image: url(/img/pattern.png)">
        <div class="container">
          <div class="blog-page-title__holder">            
            <h1 class="blog-page-title__title">Абонентское бухгалтерское обслуживание</h1>            
          </div>
        </div>
      </section> <!-- end page title -->
      

      <!-- Blog -->
      <section class="section-wrap pt-24 pb-72">
        <div class="container">
          <div class="row justify-content-center">

            <div class="col-lg-8 blog__content mb-32">
              <article class="entry single-post__entry">
                <div class="entry__article-wrap">
                  

                  <div class="entry__article">
                   <p>
                      Принцип абонентского сервиса в бухгалтерском обслуживании состоит в предоставлении требуемых услуг на регулярной основе. Вы один раз заключаете соглашение и получаете постоянное обслуживание, обеспечивающее вашу компанию многоопытными специалистами без отпусков и больничных.
                    </p>
                    <p>
                      Для небольшой фирмы не требуется держать в штате бухгалтера – все обязанности перейдут в работу экспертов нашей фирмы. Для большого бизнеса представится возможность значительно сократить численность бухгалтерского отдела, передав нам их обязанности, в том числе отправка отчётности и подготовка к проверкам.
                    </p>
                    <p>
                      Ко всему прочему можно добавить, что при заключении договора с нашей организацией, оплату за услуги допускается причислить в затраты и уменьшить налогооблагаемую основу, что опять же даёт возможность максимально сберечь Ваши финансы в отличии от случаев найма работника, при устройстве которого эти расходы только лишь увеличиваются.
                    </p>     
                    <p>
                      Список работ, которые выполняет наша компания:
                    </p>
                    <ul>
                      <li>непосредственный контроль за первичной документацией и при возникновении вопросов наши эксперты составят критические замечания и советы согласно их оформлению и наполнению;</li>
                      <li>ввод информации в 1С и управление бухучета согласно законодательству РФ;</li>
                      <li>формирование регистров налогового и бухучета с наполнением регламентированной документации в электронном варианте;</li>
                      <li>осуществление процедуры ведения налогового учёта в организации – в результате получает на руки уже подготовленные платёжные поручения для перечисления налогов и взносов;</li>
                      <li>формирование отчётности и её отправление согласно назначению – в налоговую службу и внебюджетные фонды;</li>
                      <li>начисление зарплаты и других выплат сотрудникам с учётом штатного расписания и фактического времени работы, формирование платёжных документов на выплаты работникам</li>
                      <li>консалтинговые услуги по проблемам бухгалтерского учёта в фирме, в частности по вопросам оптимизации затрат и минимизации налоговой нагрузки.</li>
                    </ul>
                    <p>
                      Стоимость абонентского обслуживания формируется с учётом объёма работ и числа обрабатываемых документов. На итоговую стоимость обслуживания влияет вид деятельности организации - специфика строительных фирм, торговых организаций, производственных предприятий и фирм, занимающихся внешнеэкономическими сделками, усложняет работу бухгалтеру, система налогообложения - общая, упрощенная или вмененная, а также учитывается наличие операций с НДС, наличие или отсутствие филиалов, численность сотрудников, количество ККМ.
                    </p>                     
                </div>
                </div>
              </article>             

            </div> <!-- end blog content -->

          </div>
        </div>
      </section> <!-- end blog -->      
    {{> price}}
      

      