---
layout: "base.hbs"
title: "О компании | ООО Престиж, г. Ялта" 
description: "Информация о бухгалтерской компании Престиж в Ялте"
---

    <div class="content-wrapper oh">

      <!-- Page Title -->
      <section class="page-title bg-img bg-overlay" style="background-image: url(/img/page_title/about_us.jpg)">
        <div class="container">
          <div class="page-title__holder">
            <h1 class="page-title__title">Информация о компании "Престиж"</h1>
            <p class="subtitle">Бухгалтерские услуги в Ялте</p>
          </div>
        </div>
      </section> <!-- end page title -->

			<!-- Promo Section -->
      <section class="section-wrap promo section-wrap--pt-220">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-md-72">
              <h2 class="promo__title">Предлагаем сотрудничество в удобном формате.</h2>
              <p class="promo__text lead">Команда экспертов предоставляет бухгалтерские услуги на постоянной основе.<br /><br /> 

              У нас большой опыт в сфере бухучета, прекрасная подготовка специалистов, использование современных методик и программных продуктов, строгое соблюдение всех требований законодательства и нормативных документов. Обращайтесь за решением задач любой сложности!
                </p>
              <a href="/contact" class="btn btn--lg btn--color">
                <span>Контакты</span>
              </a>
            </div>
            <div class="col-lg-7 offset-lg-1 mt-md-72">
              <img src="/img/promo/promo_img_3.jpg" class="promo__img promo__img-1" alt="">
              <img src="/img/promo/promo_img_4.jpg" class="promo__img promo__img-2" alt="">
            </div>
          </div>
        </div> 
      </section> <!-- end promo section -->


      <!-- Statistic -->
      <section class="section-wrap bg-dark pb-40 pb-md-24" style="background-image: url(/img/pattern.png)">
        <div class="container">
          <div class="row title-row">
            <div class="col-lg-5">
              <h2 class="section-title mb-40 mb-sm-24">История компании</h2>
              <p class="subtitle lead">ООО "Престиж" работает в Крыму с 2014 года, среди наших клиентов крупные организации, ведущие свою деятельность по всему региону и за его пределами.</p>
            </div>
          </div> <!-- end title row -->

          <div class="row statistic-row">
            <div class="col-lg-3 col-sm-6">
              <div class="statistic">
                <i class="statistic__icon o-edit-folder-1"></i>
                <span class="statistic__number">300+</span>
                <h5 class="statistic__title">Клиентов на обслуживании</h5>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="statistic">
                <i class="statistic__icon o-handshake-1"></i>
                <span class="statistic__number">100%</span>
                <h5 class="statistic__title">Довольны сотрудничеством</h5>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="statistic">
                <i class="statistic__icon o-certificate-1"></i>
                <span class="statistic__number">100 000+</span>
                <h5 class="statistic__title">Сданных отчетов</h5>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="statistic">
                <i class="statistic__icon o-dollar-bill-1"></i>
                <span class="statistic__number">100 млн.+</span>
                <h5 class="statistic__title">Сэкономленных денежных средств</h5>
              </div>
            </div>
          </div>

        </div> 
			</section> <!-- end statistic -->


      