---
layout: "base.hbs"
title: "Контактная информация ООО 'Престиж' | Бухгалтерские услуги в Ялте"
description: "Адрес офиса, контактные телефоны и адреса email, форма обратной связи"
---
<div class="content-wrapper oh">

      <!-- Page Title -->
      <section class="page-title bg-img bg-overlay" style="background-image: url(/img/page_title/contact.jpg)">
        <div class="container">
          <div class="page-title__holder">
            <h1 class="page-title__title">Контактная информация</h1>
            <p class="subtitle">Адрес офиса и контактные телефоны компании "Престиж".</p>
          </div>
        </div>
      </section> <!-- end page title -->

			<!-- Contact Title -->
      <section class="section-wrap bg-dark">
        <div class="container">
          <div class="title-row mb-56">
            <h2 class="section-title text-center">Свяжитесь с нами удобным способом</h2>
          </div>
        </div>        
      </section> <!-- end contact title -->

      <!-- Service Boxes -->
      <div class="section-wrap offset-top-100 pt-0">
        <div class="container">      
          <div class="row">

            <div class="col-lg-4">
              <div class="service box-shadow hover-line hover-down">
                <i class="service__icon o-contact-1"></i>
                <h4 class="service__title">Телефон</h4>
                <p class="service__text"><a href="tel:+79781304056">+7 978 130 40 56</a></p>                
                <br>   
                <br>                             
              </div>
            </div>

            <div class="col-lg-4">
              <div class="service box-shadow hover-line hover-down">
                <i class="service__icon o-read-email-1"></i>
                <h4 class="service__title">Email</h4>
                <p class="service__text"><a href="mailto:uslugiyalta@mail.ru">uslugiyalta@mail.ru</a></p> 
                <br>  
                <br>                                
              </div>
            </div>

            <div class="col-lg-4">
              <div class="service box-shadow hover-line hover-down">
                <i class="service__icon o-pin-1"></i>
                <h4 class="service__title">Адрес офиса</h4>
                <address>г. Ялта, ул. Садовая, 11 (цокольный этаж, офис )</address><br>
                <p class="service__text">Время работы офиса: Понедельник-Пятница, с 9:00 до 18:00</p>
              </div>
            </div>

          </div>
        </div>
      </div> <!-- end service boxes -->      

      <!-- Contact Form -->
      <section class="section-wrap bg-light">
        <div class="container">

          <div class="title-row text-center">
            <h2 class="section-title">Отправить сообщение</h2>
          </div>

          <div class="row justify-content-center">
            <div class="col-lg-5">
              <!-- Contact Form -->
              <form id="contact-form" class="contact-form">

                <div class="form-group">
                  <input name="name" class="form-group__input" id="name" type="text" placeholder="Имя" >
                </div>

                <div class="form-group">
                  <input name="email" id="email" type="email" placeholder="Email">
                </div>

                <div class="form-group">
                  <input name="phone" id="phone" type="text" placeholder="Телефон *" required>
                </div>

                <div class="contact-message">
                  <textarea id="message" name="message" rows="5" placeholder="Сообщение"></textarea>
                </div>

                <div class="consent-checkbox">
                  <label>
                    <input class="consent-checkbox__input" type="checkbox" name="your-consent" required>
                    <span class="consent-checkbox__label">Согласие с условиями <a href="#">обработки данных</a>.</span>
                  </label> 
                </div>

                <input type="submit" class="btn btn--lg btn--color btn--wide btn--button" value="Отправить" id="submit-message">
                <br>
                <br>
                <div id="alert" class="d-none alert alert-success fade show" role="alert">                    
                    <strong>Ваше сообщение успешно отправлено!</strong>
                  </div>
              </form>
            </div>
          </div>

        </div>
      </section> <!-- end contact form -->

      <!-- Google Map -->
      <div id="google-map" class="gmap"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac76ebfed5419704f74895e5d693936553e88c1f079f7ebaa602dc2abc0ab6fd4&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script></div>

      
      