---
layout: "base.hbs"
title: "Бухгалтерские услуги в Ялте, бухгалтерское обслуживание юридических лиц, ООО и ИП. Оказание бух услуг компанией «Престиж»."
description: "Качественные и недорогие бухгалтерские услуги для представителей бизнеса и индивидуальных предпринимателей"
---
<div class="content-wrapper oh">

  <!-- Hero -->
  <section class="hero">
    <div class="slick-custom-arrows">

      <div class="hero__item slick-slide">
        <div class="row no-gutters">
          <div class="col-lg-4 order-lg-1 order-2">
            <div class="hero__img" style="background-image: url(/img/hero/hero_slide_1.jpg)">
              <img src="/img/hero/hero_slide_1.jpg" alt="" class="d-none">
            </div>

            <!-- Slider nav -->
            <div class="slick-custom-nav">
              <button class="slick-custom-nav__prev slick-prev slick-arrow" type="button" aria-label="prev">Prev
                ></button>
              <button class="slick-custom-nav__next slick-next slick-arrow" type="button" aria-label="next">Next
                ></button>
            </div>

          </div>
          <div class="col-lg-8 order-1 order-lg-2">
            <div class="hero__text-holder">
              <h3 class="hero__subtitle">Профессиональные</h3>
              <h1 class="hero__title hero__title--boxed">Бухгалтерские услуги в Ялте<span class="hero__dot">.</span>
              </h1>
              <a href="/contact" class="btn btn--lg btn--color">
                <span>Контакты</span>
              </a>
            </div>
          </div>
        </div>
      </div> <!-- .hero__item -->

      <div class="hero__item slick-slide">
        <div class="row no-gutters">
          <div class="col-lg-4 order-lg-1 order-2">
            <div class="hero__img" style="background-image: url(/img/hero/hero_slide_2.jpg)">
              <img src="/img/hero/hero_slide_2.jpg" alt="" class="d-none">
            </div>

            <!-- Slider nav -->
            <div class="slick-custom-nav">
              <button class="slick-custom-nav__prev slick-prev slick-arrow" type="button" aria-label="prev">Prev
                ></button>
              <button class="slick-custom-nav__next slick-next slick-arrow" type="button" aria-label="next">Next
                ></button>
            </div>

          </div>
          <div class="col-lg-8 order-1 order-lg-2">
            <div class="hero__text-holder">
              <h3 class="hero__subtitle">Своевременная</h3>
              <h1 class="hero__title hero__title--boxed">Налоговая отчетность<span class="hero__dot">.</span></h1>
              <a href="/contact" class="btn btn--lg btn--color">
                <span>Контакты</span>
              </a>
            </div>
          </div>
        </div>
      </div> <!-- .hero__item -->

      <div class="hero__item slick-slide">
        <div class="row no-gutters">
          <div class="col-lg-4 order-lg-1 order-2">
            <div class="hero__img" style="background-image: url(/img/hero/hero_slide_3.jpg)">
              <img src="/img/hero/hero_slide_3.jpg" alt="" class="d-none">
            </div>

            <!-- Slider nav -->
            <div class="slick-custom-nav">
              <button class="slick-custom-nav__prev slick-prev slick-arrow" type="button" aria-label="prev">Prev
                ></button>
              <button class="slick-custom-nav__next slick-next slick-arrow" type="button" aria-label="next">Next
                ></button>
            </div>

          </div>
          <div class="col-lg-8 order-1 order-lg-2">
            <div class="hero__text-holder">
              <h3 class="hero__subtitle">Полноценный</h3>
              <h1 class="hero__title hero__title--boxed">Кадровый учёт<span class="hero__dot">.</span></h1>
              <a href="/contact" class="btn btn--lg btn--color">
                <span>Контакты</span>
              </a>
            </div>
          </div>
        </div>
      </div> <!-- .hero__item -->

    </div> <!-- .owl -->
  </section> <!-- end hero -->

  <!-- Services Title -->
  <section class="section-wrap bg-dark">
    <div class="container">
      <div class="title-row mb-56">
        <h2 class="section-title text-center">Бухгалтерское сопровождение юридических лиц</h2>
      </div>
    </div>
  </section> <!-- end services title -->

  <!-- Service Boxes -->
  <div class="offset-top-100">
    <div class="container">
      <div class="slick-service-boxes slick-slider-row">

        <div class="slick-slide slick-slider-col slick-service-boxes__item">
          <a href="/services" class="service box-shadow hover-line hover-down">
            <i class="service__icon o-business-report-1"></i>
            <h4 class="service__title">Комплексное бухгалтерское обслуживание</h4>
            <p class="service__text">Для организаций любых форм собственности и ИП.</p>
          </a>
        </div>

        <div class="slick-slide slick-slider-col slick-service-boxes__item">
          <a href="/services" class="service box-shadow hover-line hover-down">
            <i class="service__icon o-sales-performance-up-1"></i>
            <h4 class="service__title">Ведение бухгалтерского учета</h4>
            <p class="service__text">Организация с нуля и текущая деятельность.</p>
          </a>
        </div>

        <div class="slick-slide slick-slider-col slick-service-boxes__item">
          <a href="/services" class="service box-shadow hover-line hover-down">
            <i class="service__icon o-social-1"></i>
            <h4 class="service__title">Кадровое делопроизводство</h4>
            <p class="service__text">Оформление всех документов для сотрудников.</p>
          </a>
        </div>

        <div class="slick-slide slick-slider-col slick-service-boxes__item">
          <a href="#" class="service box-shadow hover-line hover-down">
            <i class="service__icon o-checkbox-confirm-circle-1"></i>
            <h4 class="service__title">Налоговая отчетность в электронном виде</h4>
            <p class="service__text">Подача деклараций и расчетов в установленные сроки.</p>
          </a>
        </div>

      </div> <!-- end slick-service-boxes -->
    </div>
  </div>

  <!-- Promo Section -->
  <section class="section-wrap promo section-wrap--pt-180">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-md-72">
          <h2 class="promo__title">Сотрудничество - гарантия успеха.</h2>
          <p class="promo__text lead">Современная коммерческая деятельность не может обойтись без участия опытного
            бухгалтера и налогового консультанта.</br></br> Знания и квалификация наших специалистов помогут избежать проблем
            с налоговыми органами и правильно организовать бизнес.</p>
          <a href="/contact" class="btn btn--lg btn--color">
            <span>Контакты</span>
          </a>
        </div>
        <div class="col-lg-7 offset-lg-1 mt-md-72">
          <img src="/img/promo/promo_img_1.jpg" class="promo__img promo__img-1" alt="">
          <img src="/img/promo/promo_img_2.jpg" class="promo__img promo__img-2" alt="">
        </div>
      </div>
    </div>
  </section> <!-- end promo section -->

  {{> price}}
<!-- CTA -->
<section class="section-wrap call-to-action text-center section-wrap--pb-140 bg-white-gradient"
  style="background-image: url(/img/cta/cta_img_1.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">

        <h3 class="call-to-action__title">
          Аутсорсинг бухгалтерии это выгодно
        </h3>
        <p class="call-to-action__text lead">Обращаясь к нам, вы экономите 50% денежных средств на зарплатах штатным
          бухгалтерам и освобождаете 99% времени на документообороте.</p>
        <a href="/contact" class="btn btn--lg btn--color">
          <span>Контакты</span>
        </a>

      </div>
    </div>
  </div>
</section> <!-- end cta -->
</div>