---
layout: "base.hbs"
title: "Подготовка налоговой отчетности | ООО Престиж, г. Ялта"
---

    <div class="content-wrapper oh">

      <!-- Page Title -->
      <section class="section-wrap blog-page-title single-post__entry-header bg-dark" style="background-image: url(/img/pattern.png)">
        <div class="container">
          <div class="blog-page-title__holder">            
            <h1 class="blog-page-title__title">Подготовка налоговой отчетности</h1>            
          </div>
        </div>
      </section> <!-- end page title -->
      

      <!-- Blog -->
      <section class="section-wrap pt-24 pb-72">
        <div class="container">
          <div class="row justify-content-center">

            <div class="col-lg-8 blog__content mb-32">
              <article class="entry single-post__entry">
                <div class="entry__article-wrap">
                  

                  <div class="entry__article">
                   <p>
                      С момента государственной регистрации, каждой организации необходимо предоставлять налоговую отчётность в контролирующий орган. Для составления достоверных деклараций и отчётов нужно грамотно вести хозяйственную деятельность весь период. Обязательные документы, такие как: авансовые отчёты, справки и пояснительные письма, должны соответствовать действующему законодательству Российской Федерации. Практически все ошибки в учёте, даже незначительные ведут либо к штрафным санкциям, либо потере прибыли. Поэтому заниматься ведением и предоставлением отчётности и налоговой документации должен опытный и зарекомендовавший себя специалист.
                    </p>
                    <p>
                      Наша компания, в лице высококвалифицированных бухгалтеров, благодаря многолетнему опыту, уверенно и с успехом, помогают физически и юридическим лицам в формировании налоговой отчётности.
                    </p>
                    <p>
                      Мы предоставляем такие услуги как:
                    </p>
                    <ul>
                      <li>Составление и отправка отчётности всех уровней бюджета;</li>
                      <li>Подготовку деклараций для физических лиц 3-НДФЛ, предпринимателей на ОСН 4-НДФЛ, и всех лиц любых правовых форм, заключивших трудовые договора с работниками 6-НДФЛ;</li>
                      <li>Поиск возможностей для применения льгот по различным обязательным платежам и составление заявлений при согласовании таковых;</li>
                      <li>Консультация и расчёт для перехода на самый выгодный режим налогообложения;</li>
                      <li>Предоставление отчётов во внебюджетные фонды;</li>
                      <li>Вы получаете подробный отчёт по ведению бухгалтерского и налогового учёта в вашей организации.</li>                      
                    </ul>
                    <p>
                      Для наиболее плодотворного и оперативного сотрудничества, а также составления достоверной отчётности, до заключения договора, Вам необходимо будет предоставить следующие документы:
                    </p>           
                    <ol>
                      <li>Устав организации (для юридических лиц);</li>
                      <li>Свидетельства ИНН и ОГРН/ОГРНИП;</li>
                      <li>Учредительную документацию;</li>
                      <li>Решения о назначении директора или иного руководящего состава</li>
                      <li>Уведомления и письма из органов статистики, ФСС, пенсионного и иных внебюджетных фондов;</li>
                      <li>Уведомления, заверенные налоговым органом, о переходе на специальные режимы налогообложения;</li>
                      <li>Описание специфики деятельности, которую ведет Ваша организация.</li>
                    </ol>         
                    
                  <p>Данная информация позволит провести первичный анализ предприятия. Оценить целесообразность применения действующей системы налогообложения. И дать оценку возможности льготирования.</p>   
                  <p>
                   При составлении налоговой отчётности, мы ориентируемся на Налоговый Кодекс Российской Федерации, действующие законы, подзаконные акты, приказы, разъяснения ФНС и Минфина, а также учётной политикой организации.
                  </p>
                  <p>
                    Проведя полный анализ хозяйственной и правовой деятельности клиента, формируем обязательную отчётность и производим её своевременную отправку в контролирующий орган, посредством современных, утверждённых законом правилами обмена информацией.
                  </p>
                  <p>
                    Мы доверяем нашим клиентам, поэтому вся предоставленная Вами информация, априори является для нас достоверной и используется для подготовки отчётности.
                  </p>
                  <p>
                    В компетенцию специалиста, закреплённого за Вашей организацией, входит:
                  </p>
                  <ul>
                    <li>Проверка первичной документации;</li>
                    <li>Расчёт налогооблагаемой базы и положенных вычетов;</li>
                    <li>Оформление документов для возможного применения льгот;</li>
                    <li>Определение и согласование сумм, подлежащих оплате в государственные органы;</li>
                    <li>Заполнение всех форм деклараций, отчётов, уведомлений и заявлений;</li>
                    <li>Отправка отчётности в контролирующие органы.</li> 
                  </ul>
                  <p>
                    Для того чтобы произвести точный расчёт, бухгалтеру необходимо:
                  </p>                  
                  <ul>
                    <li>Данные по доходам и расходам за отчётный период;</li>
                    <li>Перечень хозяйственных операций и их характеристика;</li>
                    <li>Данные об основных средствах и их амортизации;</li>
                    <li>Расчёт заработной платы и данные о фактически произведённых по ней выплатах;</li>
                    <li>Сведения о кредиторской и дебиторской задолженности;</li>
                    <li>Ведомость по кассовым и банковским операциям.</li>
                  </ul>
                  <p>
                   Более точный перечень, специалист нашей организации запросит непосредственно при встрече.
                  </p>
                  <p>Мы ориентированы на долговременное сотрудничество. Поэтому, изначально детально прорабатываем все направления деятельности клиента. Индивидуальный подход и комплексная работа, гарантируют вам достоверность, безопасность и прозрачность учёта.</p> 
                </div>
                </div>
              </article>             

            </div> <!-- end blog content -->

          </div>
        </div>
      </section> <!-- end blog -->      
    {{> price}}
      

      