---
layout: "base.hbs"
title: "Стоимость бухгалтерских услуг | ООО Престиж, г. Ялта"
---
    <div class="content-wrapper oh">

      <!-- Page Title -->
      <section class="page-title bg-img bg-overlay" style="background-image: url(/img/page_title/pricing.jpg)">
        <div class="container">
          <div class="page-title__holder">
            <h1 class="page-title__title">Цены на оказываемые услуги.</h1>
            <p class="subtitle">Прайс-лист на услуги компании "Престиж"</p>
          </div>
        </div>
      </section> <!-- end page title -->

			{{> price}}
      


      <!-- FAQ / Contact Form -->
      <section class="section-wrap bottom-divider pb-72">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-40">
              <div class="title-row mb-32">              
                <h2 class="section-title">Часто задаваемые вопросы</h2>
              </div>
              <div id="accordion">

                <div class="accordion">
                  <div class="accordion__panel">
                    <div class="accordion__heading" id="heading-1">
                      <a data-toggle="collapse" href="#collapse-1" class="accordion__link accordion--is-open" aria-expanded="true" aria-controls="collapse-1">
                        <span class="accordion__toggle"></span>
                        <h4 class="accordion__title">Сколько стоят ваши услуги?</h4>                        
                      </a>
                    </div>
                    <div id="collapse-1" class="collapse show" data-parent="#accordion" role="tabpanel" aria-labelledby="heading-1">
                      <div class="accordion__body">
                       Тариф рассчитывается индивидуально на каждого клиента и зависит от таких показателей, как количество бухгалтерских операций в месяц, количество сотрудников, система налогообложения, вид деятельности и др. Примерную стоимость можно посчитать в нашей таблице.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion">
                  <div class="accordion__panel">
                    <div class="accordion__heading" id="heading-2">
                      <a data-toggle="collapse" href="#collapse-2" class="accordion__link" aria-expanded="true" aria-controls="collapse-2">                        
                        <span class="accordion__toggle"></span>
                        <h4 class="accordion__title">Мы планировали взять штатного бухгалтера. В чем отличие и удобство бухгалтерского аутсорсинга?</h4>
                      </a>
                    </div>
                    <div id="collapse-2" class="collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="heading-2">
                      <div class="accordion__body">
                        1. Экономия средств. Тарифы при бухгалтерском обслуживании ниже, чем зарплата штатного бухгалтера.<br />
                        2. Отсутствует личный фактор, который всегда существует при приеме человека на ставку: больничные, отпуска, личные проблемы и даже плохое настроение.<br />
                        3. Нет необходимости в организации рабочего места бухгалтера, покупки и поддержании актуальных версий бухгалтерских программ, канцелярские расходы и т.д. <br />
                        4. Квалификация и опыт сотрудников. <br />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion">
                  <div class="accordion__panel">
                    <div class="accordion__heading" id="heading-3">
                      <a data-toggle="collapse" href="#collapse-3" class="accordion__link" aria-expanded="true" aria-controls="collapse-3">                        
                        <span class="accordion__toggle"></span>
                        <h4 class="accordion__title">В компании есть бухгалтерия. Можем ли мы выделить на аутсорсинг только один из участков учета?</h4>
                      </a>
                    </div>
                    <div id="collapse-3" class="collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="heading-3">
                      <div class="accordion__body">
                        Клиент самостоятельно определяет перечень функций, передаваемых специалистам организации. 
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion">
                  <div class="accordion__panel">
                    <div class="accordion__heading" id="heading-4">
                      <a data-toggle="collapse" href="#collapse-4" class="accordion__link" aria-expanded="true" aria-controls="collapse-4">                        
                        <span class="accordion__toggle"></span>
                        <h4 class="accordion__title">Какие методы налоговой оптимизации применяются?</h4>
                      </a>
                    </div>
                    <div id="collapse-4" class="collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="heading-4">
                      <div class="accordion__body">
                        Специалисты нашей компании предварительно анализируют состояние учета, тип выбранного режима и прочие факторы, после этого клиенту предлагается комплекс мероприятий по налоговой оптимизации. Инструментов законного сокращения фискальной нагрузки десятки. Необходимо рассматривать особенности деятельности.
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <p class="mt-32">Остались вопросы? Напишите нам <a href="mailto:exaflops@protonmail.com">exaflops@protonmail.com</a></p>
            </div>

            <div class="col-lg-6">
              <div class="contact-form-container">
                <h3 class="mb-32">Оставить сообщение</h3>
                <!-- Contact Form -->
                <form id="contact-form" class="contact-form" method="post" action="#">

                  <div class="form-group">
                    <input name="name" class="form-group__input" id="name" type="text" placeholder="Имя" >
                  </div>

                  <div class="form-group">
                    <input name="phone" id="phone" type="text" placeholder="Телефон" required>
                  </div>

                  <div class="contact-message">
                    <textarea id="message" name="message" rows="5" placeholder="Сообщение"></textarea>
                  </div>

                  <div class="consent-checkbox">
                    <label>
                      <input class="consent-checkbox__input" type="checkbox" name="your-consent" required>
                      <span class="consent-checkbox__label">Согласие на <a href="#">обработку данных</a>.</span>
                    </label> 
                  </div>

                  <input type="submit" class="btn btn--lg btn--color btn--wide btn--button" value="Отправить" id="submit-message">
                  <div id="msg" class="message"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section> <!-- end faq / contact form -->