---
layout: "base.hbs"
title: "Услуги компании | ООО Престиж, г. Ялта"
description: "Полный спектр бухгалтерских услуг"
---
    <div class="content-wrapper oh">

      <!-- Page Title -->
      <section class="page-title bg-img bg-overlay" style="background-image: url(/img/page_title/services.jpg)">
        <div class="container">
          <div class="page-title__holder">
            <h1 class="page-title__title">Профессиональные бухгалтерские услуги</h1>
            <p class="subtitle">Перечень услуг для юридических лиц и ИП</p>
          </div>
        </div>
      </section> <!-- end page title -->

			<!-- Services Title -->
      <section class="section-wrap bg-dark">
        <div class="container">
          <div class="title-row mb-56">
            <h2 class="section-title text-center">Берем на себя всю работу с бухгалтерией</h2>
          </div>
        </div>        
      </section> <!-- end services title -->

      <!-- Service Boxes -->
      <div class="section-wrap offset-top-100 pt-0 pb-0">
        <div class="container">      
          <div class="row">

            <div class="col-lg-4">
              <a href="/abonent" class="service box-shadow hover-line hover-down">
                <i class="service__icon o-business-report-1"></i>
                <h4 class="service__title">Абонентское бухгалтерское обслуживание</h4>
                <p class="service__text">Комплекс услуг "под ключ".</p>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="/buhuchet" class="service box-shadow hover-line hover-down">
                <i class="service__icon o-sales-performance-up-1"></i>
                <h4 class="service__title">Организация бухгалтерского учёта</h4>
                <p class="service__text">Ведение бухгалтерского учёта.</p>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="/kadroviy-uchet" class="service box-shadow hover-line hover-down">
                <i class="service__icon o-social-1"></i>
                <h4 class="service__title">Кадровый учёт</h4>
                <p class="service__text">Комплекс работы с персоналом</p>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="/nalog-otchet" class="service box-shadow hover-line hover-down">
                <i class="service__icon o-synced-book-1"></i>
                <h4 class="service__title">Подготовка налоговой отчетности</h4>
                <p class="service__text">Формирование и отправка отчетности в контролирующие органы</p>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="/obslug-ip" class="service box-shadow hover-line hover-down">
                <i class="service__icon o-edit-document-1"></i>
                <h4 class="service__title">Бухгалтерское обслуживание ИП</h4>
                <p class="service__text">Помощь в ведении бухгалтерской и налоговой отчётности.</p>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="/outsourcing" class="service box-shadow hover-line hover-down">
                <i class="service__icon o-handshake-1"></i>
                <h4 class="service__title">Аутсорсинг бухгалтерских услуг</h4>
                <p class="service__text">Пакет аутсорсинговых услуг для бухгалтерии</p>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="/personal" class="service box-shadow hover-line hover-down">
                <i class="service__icon o-businessman-1"></i>
                <h4 class="service__title">Индивидуальный (персонифицированный) учёт</h4>
                <p class="service__text">Работа с персональными данными сотрудников</p>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="/soprovogdenie" class="service box-shadow hover-line hover-down">
                <i class="service__icon o-file-manager-1"></i>
                <h4 class="service__title">Бухгалтерское сопровождение</h4>
                <p class="service__text">Своевременное и качественное ведение учёта и сдачу отчётности</p>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="/uslugi-ip" class="service box-shadow hover-line hover-down">
                <i class="service__icon o-checkbox-confirm-circle-1"></i>
                <h4 class="service__title">Бухгалтерские услуги для ИП</h4>
                <p class="service__text">Комплекс бухгалтерских услуг для ИП</p>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="/uslugi-ooo" class="service box-shadow hover-line hover-down">
                <i class="service__icon o-statistic-1"></i>
                <h4 class="service__title">Бухгалтерские услуги для ООО</h4>
                <p class="service__text">Комплекс бухгалтерских услуг для ООО</p>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="/zarplata" class="service box-shadow hover-line hover-down">
                <i class="service__icon o-price-calculator-1"></i>
                <h4 class="service__title">Расчёт заработной платы</h4>
                <p class="service__text">Полный контроль оплаты труда работников</p>
              </a>
            </div>

          </div>
        </div>
      </div> <!-- end service boxes -->

      <!-- Process -->
      <section class="section-wrap">
        <div class="container">
          <div class="title-row">
            <h2 class="section-title text-center">Как начать работу?</h2>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <div class="process">
                <div class="row no-gutters">
                  <div class="col-lg-6">
                    <img src="/img/process/process_1.jpg" class="process__img" alt="">
                  </div>
                  <div class="col-lg-6">
                    <div class="process__info box-shadow">
                      <span class="process__number">1</span>
                      <h4 class="process__title">Заявка</h4>
                      <p class="process__text">Оставляете заявку на сайте или связываетесь удобным способом с нашими сотрудниками.</p> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="process">
                <div class="row no-gutters">
                  <div class="col-lg-6">
                    <img src="/img/process/process_2.jpg" class="process__img" alt="">
                  </div>               
                  <div class="col-lg-6">
                    <div class="process__info box-shadow">
                      <span class="process__number">2</span>
                      <h4 class="process__title">Документы</h4>
                      <p class="process__text">Собираете необходимые для подписания договора и начала работы документы, </p>
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="process">
                <div class="row no-gutters">
                  <div class="col-lg-6">
                    <img src="/img/process/process_3.jpg" class="process__img" alt="">
                  </div>               
                  <div class="col-lg-6">
                    <div class="process__info box-shadow">
                      <span class="process__number">3</span>
                      <h4 class="process__title">Договор</h4>
                      <p class="process__text">Приезжаете с документами в наш офис и подписываете договор на обслуживание.</p>
                    </div>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> <!-- end process -->

      <!-- CTA / Partners -->
      <section class="section-wrap call-to-action text-center section-wrap--pt-140 section-wrap--pb-140 bg-dark" style="background-image: url(/img/pattern.png);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <h3 class="call-to-action__title mb-40">
                Готовы начать сотрудничество?
              </h3>
              <a href="/contact" class="btn btn--lg btn--color">
                <span>Контакты</span>
              </a>              
            </div>
          </div>
        </div> 
      </section> <!-- end cta / partners -->      